<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="assets/images/musicImage.jpeg" alt="Girl with Headphones">
        </div>
        <div class="form-container">
            <h1>LOGIN PAGE</h1>
            <form>
                <input type="text" placeholder="User Name" required>
                <input type="password" placeholder="Password" required>
                <div class="button-container">
                    <button type="button">Signup</button>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>